<div class="wrapper">
  <div class="chat">
    <% if user_signed_in? %>
      <div class="greeting"> 
        こんにちは、
         <%= link_to current_user.nickname ,  class: :greeting__link%> さん
      </div> 
    <% end %>
  </div>
  <div class="side-bar">
  </div>
</div>

<%= link_to( new_post_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> %>
<% end %>