<div class="wrapper">
  <div class="chat">
    <% if user_signed_in? %>
      <div class="greeting"> 
        こんにちは、
         <%= link_to current_user.nickname ,  class: :greeting__link%> さん
      </div> 
    <% end %>
    <%= link_to( new_post_path, class: 'purchase-btn') do %>
        <span class='purchase-btn-text'>♪投稿する♪</span>
    <% end %>
  </div>
  <div class="side-bar">
  </div>
</div>

