
/* ヘッダー */

.header {
  background-color: #cbdff7;
  margin-bottom: 40px;
  padding: 10px 0;

}
.inner {
  width: 100%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: start;
}
.logo {
  width: 25vw;
  height: 15vh;
}

.title {
  justify-content: start;
  text-align: center;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フッター */

.footer {
  background-color: rgb(204, 75, 75);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}