* {
  box-sizing: border-box;
}




/* ヘッダー */

.header {
  background-color: #cbdff7;
  margin-bottom: 40px;
  /* padding: 5px 0; */
  
}

.inner {
  width: 100%;
  height: 13vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}


.logo {
  width: 25vw;
  height: 13vh; 
  border-radius: 5px;
}

.nav__right {
  margin-top: 5vh;
}


.nav__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ee0a3b;
  text-decoration: none;
  user-select: none;
  border: 1px #0f1418 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}

/* search */

.search-form {
  width: 35vw;
  height: 5vh;
  display: flex;
  margin-top: 5vh;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  padding: 1px;
}

.search-icon {
  width: 100%;
  height: 90%;
  
}


/* フッター */

.footer {
  background-color: rgb(204, 75, 75);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

 /* body */

 .wrapper {
  display: flex;
  margin-bottom: 30px;
}
.side-bar {
  background-color: #253141;
  width: 250px;
  margin-right: 10px;
  border-radius: 10px;
  
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 250px);
  height: 74vh;
}

